Source: oversea
Section: admin
Priority: extra
Maintainer: Eric Jackson <swiftgist@gmail.com>

Package: oversea
Architecture: all
Depends: salt-master
Description: Salt solution for deploying and managing Ceph
 A collection of Salt files providing a deployment of Ceph as a series of stages.
